<div class="login-card">
  <h2>Iniciar sesión</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label>Usuario</label>
    <input formControlName="id_usuario" placeholder="correo/uid/etc" />
     <label>Contrasena</label>
    <input formControlName="contra" placeholder="*****" />
    

  

    <button [disabled]="loading || form.get('id_usuario')?.invalid && form.get('contra')?.invalid" type="submit">
      {{ loading ? 'Ingresando…' : 'Entrar' }}
    </button>

    <div class="error" *ngIf="error">{{ error }}</div>
  </form>
</div>
